#header {
	height: 70px;
	background: #32568f;
	color: #fff;
}

#branding h1 {
	color: #fff;
}

#user-tools {
	font-size: 15px;
}

td,
th,
li,
dt,
dd {
	font-size: 14px;
}

.mini {
	font-size: 12px;
}

a:link,
a:visited {
	color: #32568f;
}

div.breadcrumbs a:focus,
div.breadcrumbs a:hover {
	color: #10284e;
}

div.breadcrumbs {
	background: #89171c;
	color: #fff;
	font-size: 16px;
}

div.breadcrumbs a {
	color: #fff;
}

.module caption,
.inline-group h2 {
	font-size: 14px;
	background: #89171c;
}

.button,
input[type="submit"],
input[type="button"],
.submit-row input,
a.button {
	background: #89171c;
	color: #fff;
}

.button:active,
input[type="submit"]:active,
input[type="button"]:active,
.button:focus,
input[type="submit"]:focus,
input[type="button"]:focus,
.button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
	background: #e94646;
}

.button.default,
input[type="submit"].default,
.submit-row input.default {
	background: #89171c;
}

.button.default:active,
input[type="submit"].default:active,
.button.default:focus,
input[type="submit"].default:focus,
.button.default:hover,
input[type="submit"].default:hover {
	background: #e94646;
}
