#header {
	height: 70px;
	background: #32568f;
	color: #fff;
}

#branding h1 {
	color: #fff;
}

#user-tools {
	font-size: 14px;
}

td,
th,
li,
dt,
dd {
	font-size: 14px;
}

.mini {
	font-size: 12px;
}

a:link,
a:visited {
	color: #32568f;
}

div.breadcrumbs {
	background: #89171c;
}
